<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Web</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 id="header">Ascii Art Generator</h1>
    <form action="/ascii-art" method="post">
        <br>
        <p>This page helps to conversionally converts string text into abstract art measures...</p>
        <textarea input type="text" name="text" placeholder="Type your text"></textarea>


        <br>
        <input id="b23" type="radio" name="banner" value="standard" checked> Standard
        
        <input type="radio" name="banner" value="shadow"> Shadow
        
        <input type="radio" name="banner" value="thinkertoy"> Thinkertoy
        <br>
        <br>
        <button type="submit">Generate</button>
    </form>

    <pre>
        
    </pre>

<footer>
<pre>
    Author : Kingsley Amorie
            All copyrights() are reserve 2026
            UNRELEASED V1.0.1

    HINT: This is still under supervision and technical
          adjustment...
</pre>
</footer>

</body>
</html>